*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;

}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(179, 226, 179);
 }
 .panel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: #fff;
 }
 .ptop{
    display: flex;
    padding: 0px 30%;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: rgb(44, 90, 44);
}
.elem{
    display: flex;
    align-items: center;
    gap: 20px;
    
}
elem h2{
    font-weight: 500;
    font-size: 22px;
}

.box{
    color: rgb(23, 212, 23);
    font-weight: 500;
    font-size: 25px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
}
.pbtm{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30%;
    gap: 10px;
    padding: 20px;
    width: 100%;
    height: calc(100% - 100px);

    
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: rgb(5, 99, 17);
    border-radius: 50%;
    color: #fff;
    font-weight: 500px;

}
.bubble:hover{
    background-color: rgba(0, 0, 0, 0.918);
}